#titulo h1 {
    font-family: Georgia, serif;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px rgb(3, 116, 8);
    
}

#personal{
    display: flex;
    flex-direction: column;
}

#imagen {
    align-content: center;
    justify-content: center;
    display: flex;
    
}

.yo {
    width: 75%;  
    border: outset 2px;
    border-color: rgb(2, 53, 2);
}

#info {
    align-content: center;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

#caja{
    width: 100%;
    height: 300px;  
    border: 2px;
    border-style: ridge;
    border-color: rgb(2, 53, 2);
    border-radius: 30px;
    padding: 15px;
    align-items: center;

}

h6 {
    font-family: 'Trebuchet MS';
    font-weight: 400;
}


#texto{
    padding: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
}



@media only screen and (min-width: 768px) {

    #personal{
        display: flex;
        flex-direction: row;       
    }

    .yo {
        width: 50%;
    }

    #info {
        padding-right: 50px;
    }
}