
body {
    background-color:#555353;
}


#main {
    background-color:#555353;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}

#img-fondo {
    background-image: url("../../img/icono_placeholder.PNG");
    background-repeat: no-repeat;
    width: 100%;
    
    background-size: cover;
}

#imagen {
    padding: 0%;
    text-align: center;
}

#imagen img {
    scale: 1.1;
}

#iconos img {
    margin: 30px;
    display: flex;
    flex-direction: column;
    float: right;
    scale: 1.5;
}

#iconos p {
    width: 230px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

#texto {
    text-align: center;
    margin-top: 70px;
}

#menu {
    float: right;
}

#item a { 
    text-decoration: none;
    color: rgb(5, 53, 5);
    width: fit-content;
}

a:link {
    text-decoration: none;
    color: rgb(5, 53, 5);
}

a p {
    text-decoration: none;
    color: rgb(5, 53, 5);
    text-shadow: #303030;
}


#contenido {
    width: 100%;
    display: flex;
    align-content: center;
    margin-top: 40px;
    
}

#left {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#item {
    width: 100px;
    height: 100px;
    border: outset 2px;
    border-color: rgb(2, 53, 2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, serif;
    margin: 10px;
    -webkit-text-stroke: 0.5px rgb(5, 53, 5);

}

